body {
color: #333;
background-color: #fff;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
}

.sidenav {
background-color: #161616;
background-color: #fff;
box-shadow: 4px 0px 8px #666;
}

@media screen and (max-height: 450px) {
	.sidenav a {
	font-size: 16px;
	}
}

.sidenav a {
color: #818181;
font-size: 16px;
}

.sidenav a:hover, .offcanvas a:focus {
color: #09c;
}

.closebtn {
font-size: 36px;
}

#main p {
cursor: pointer;
font-size: 14px;	
}